body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(186,223,245);
    background-color: rgb(4,36,85);
    width: 100%; 
    min-height: 100vh; 
    display: grid; 
}
  
button {
    background-color: rgb(82,124,171); 
    border: none;
    border-radius: 5px;
    color: rgb(186,223,245);
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: .5s;
}
  
button:hover {
    background-color: rgb(186,223,245); 
    color: rgb(82,124,171);
    box-shadow: 0 0 5px 5px rgb(186,223,245);
}

.container {
    place-self: center;
}

.link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* If you want to center the link */
}  

a {
    color: inherit;
}

a:visited {
    color: grey;
}